/*main visual*/
.asb-visual{
  .asb-intro{
    position:relative;
    display:block;
    width:100%;
    height:auto;
    padding:get-vw(60px) get-vw(20px) get-vw(20px);
    color:$asb-white;
    .asb-tit{
      font-size:get-vw(20px);
      font-weight:$bold;
      + .asb-subTit{
        margin-top:get-vw(10px);
      }
    }
    .asb-subTit{
      font-size:get-vw(16px);
      font-weight:$normal;
      + .asb-desc{
        margin-top:get-vw(10px);
      }
    }
  }
  .vis-main{
    background-image:url('../images/main/bg_visual01.png'), linear-gradient(180deg, #FA9DAA 0%, #FBACB9 100%);
    background-repeat: no-repeat, no-repeat;
    background-size:70% 100%, 100% 100%;
    background-position:100% center, center center;
  }
}

/* common */
section:not(.asb-visual){
  padding:get-vw(20px);
}
.asb-titArea{
  text-align:center;
  .asb-index{
    font-size:get-vw(16px);
  }
  .asb-tit{
    display:block;
    font-size:get-vw(20px);
    color:#000;
  }
}
.asb-card{
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  .asb-tit{
    display:block;
    font-size:get-vw(16px);
    &::before{
      content:'';
      display:block;
      width:get-vw(80px);
      height:get-vw(100px);
      background:#FFF;
    }
  }
  .asb-desc{}
  .btn-link{
    display:inline-block;
    padding:get-vw(10px) get-vw(20px);
    background:#000;
    color:#FFF;
    border-radius: 6px;
    > span::after{
      content:'';
      display:inline-block;
      width:get-vw(8px);
      height:get-vw(8px);
      border-top:1px solid #FFF;
      border-right:1px solid #FFF;
      transform: rotate(45deg);
    }
  }
}
